<div class="row">
  <div class="col-xs-12">
    <a routerLink='/' class="btn btn-default pull-right">Voltar</a>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <hr/>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    
      <div class="col-xs-12" *ngIf='!mobile'>
          <p class="text-center">Carregando...</p>
      </div>

    <div class="panel panel-default" *ngIf='mobile'>
      <div class="panel-heading">
        <h1 class="panel-title"> {{mobile.model}} </h1>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-3">
            <img src="{{mobile.photo}}" alt="{{mobile.model}}">
          </div>
          <div class="col-sm-9">
            <p>
              <b>price</b>: {{mobile.price}}</p>
            <p>
              <b>code</b>: {{mobile.code}}</p>
            <p>
              <b>brand</b>: {{mobile.brand}}</p>
            <p>
              <b>date</b>: {{mobile.date}}</p>
          </div>
        </div>

        <a (click)='deleteMobile(mobile._id)'  class="btn btn-danger pull-right">Excluir</a>

      </div>
    </div>
  </div>
</div>